/*
  Este es el archivo base para los estilos del proyecto Vite/React.
  Es necesario para inicializar el CSS base y las capas de Tailwind.
*/
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Añade estilos globales aquí si es necesario */
body {
  margin: 0;
  /* Usamos una fuente genérica para asegurar la compatibilidad */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f7f7f7; /* Un fondo ligeramente gris */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}